<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.worker.rssReader.utils.sql.mapper.StoreMessageMapper">
    <insert id="insertWithId" parameterType="xyz.worker.rssReader.pojo.StoreMessage" useGeneratedKeys="true" keyProperty="messageId">
        INSERT INTO `store_message`(
        `message_content`,`message_url`
        )values(
        #{messageContent},#{messageUrl}
        )
    </insert>
</mapper>